---
export interface Props {
  imageIsLeft: boolean;
}

const { imageIsLeft = true, imageSrc="sky-loop.jpg" } = Astro.props as Props;
---

<div class="imageSectionWrapper">
            <section class="page-content">
                <div class="container"}>
                    {imageIsLeft && <div>
                        <img class="imageSection imageSectionLeft" src={imageSrc}/>
                    </div>}
                    <div class="sectionText">
                        <h1>Creative Solutions</h1>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                    {!imageIsLeft && <div>
                        <img class="imageSection imageSectionRight" src={imageSrc}/>
                    </div>}
                </div>
            </section>
        </div>

<style>
.imageSectionWrapper {
    background: var(--color-secondary);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

.imageSectionWrapper .container {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.imageSection {
    width: 450px;
}

.imageSectionLeft {
    margin-right: 20px;
}

.imageSectionRight {
    margin-left: 20px;
}

.sectionText {
    text-align: justify;
}
</style>